.search-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
}

.search-page__main-section {
    padding-left: 40px;
    box-sizing: border-box;
    width: 60%;
}

.search-page__search-box {
    margin-bottom: 35px;
}

.search-page__favorites {
    width: 35%;   
}