.header {
    background: #496DDB;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
    margin-left: 40px;
}


.headerLeft, .headerRight {
    display: flex;
    align-items: center;

}

a {
    text-decoration: none;
}

.headerLeft a {
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #FFEEDB;
    padding: 5px 0;
    font-weight: 700;
}


.headerLeft a:hover {
    color: red;
}

