.movie__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1045px;
  margin: 0 auto;
}

.list__title {
  font-size: 1.75rem;
  margin: 2.5rem;
}

.list__card {
  display: flex;
  flex-wrap: wrap;
}
